.menu__item {
  color: var(--color-text-normal);
  text-decoration: none;
  text-transform: capitalize;
}

.h__menu .menu {
  @extend .h5;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  max-width: 500px;
}