.about
  display: flex
  flex-direction: column

  .footer
    margin-top: 0

.about__heading
  overflow: hidden
  @media screen and ( $min-width-medium )
    overflow: initial

.about__cursive,
.about__poster
  line-height: 1

.about__poster
  text-transform: uppercase
  font-weight: 600
.isSafari .about__poster
  font-weight: 400

.about__image
  background: center/cover no-repeat
  min-height: 300px

.about__text
  font-size: 1rem

.about__poster
  color: var( --mustard-yellow )

.about__link-cont
  display: inline-block
  float: right

.badge-strip
  display: flex
  flex-flow: row wrap
  margin-top: auto

.badge
  flex: 1 0 120px
  min-height: 120px
  position: relative
  background: center/contain no-repeat
  a
    +abs-centered

// Non-Grid Styles
// ================================================================
@if $show-not-grid-styles
  // @supports not (display: grid)

  .about__image
    margin: 1rem 0
    // 56.250rem
    order: 2
    @media screen and ( $min-width-medium )
      margin: 0
      min-height: 460px
      order: 1
      min-width: var( --img-size )
      position: absolute
      top: calc( var( --vertical-spacer ) / 2 )

  .about__heading
    order: 1
    @media screen and ( $min-width-medium )
      order: 2
  .about__poster
    transform: translateX(2rem)
  .about__text
    order: 3
  .about__link-cont
    order: 4
    margin-left: auto
    text-align: right

  @media screen and ( $min-width-medium )
    .about__heading,
    .about__text
      margin-left: var( --img-size )
      padding-left: 2rem
      margin-bottom: 1rem

// Grid Styles
// ================================================================
@if $show-grid-styles
  @supports (display: grid)
    .about

      // grid-auto-rows: auto
      // grid-template-rows: unset
      // grid-row-gap: 1rem
      // @media screen and ( $min-width-medium )
      //   padding-top: var( --vertical-spacer )
      //   padding-bottom: var( --vertical-spacer )
      //   grid-auto-rows: 20px
      //   grid-template-columns: 5fr 6fr
      //   grid-row-gap: unset
      //   grid-column-gap: 6rem
    
    .about__heading
      grid-row: 1
      grid-column: 1
      display: grid
      grid-auto-rows: 1fr
      @media screen and ( $min-width-medium )
        grid-row: 4 / span 4
        grid-column: 2

    .about__cursive
      grid-row: 1
      grid-column: 1
      display: grid
      transform: translateY(20%)
      @media screen and ( $min-width-medium )
        margin-left: -2rem

    .about__poster
      padding-left: 2rem
      grid-row: 2
      grid-column: 1
      @media screen and ( $min-width-medium )
        padding-left: 0

    .about__text
      grid-row: 3
      grid-column: 1
      @media screen and ( $min-width-medium )
        grid-row: 10 / span 10
        grid-column: 2

    .about__image
      grid-row: 2
      @media screen and ( $min-width-medium )
        grid-row: 2 / span 30
        grid-column: 1
        min-height: initial
        position: initial

    .about__link-cont
      grid-row: 4
      grid-column: 1
      text-align: right
      @media screen and ( $min-width-medium )
        grid-row: 28 / span 2
        grid-column: 2

    @media screen and ( $min-width-medium )
      .about__heading,
      .about__text,
      .about__link
        margin: 0
        padding: 0