.sen

.sen__h
  text-transform: uppercase
  color: var( --mustard-yellow )
  position: relative
  // make sure title overlays images
  z-index: 1

.sen__cont--3
  .sen__txt
    text-align: right

.sen__img
  background: var( --stormy-blue ) center/cover no-repeat


// Non-Grid Styles
// ================================================================
@if $show-not-grid-styles
  // @supports not (display: grid)
  .sen__h
    position: absolute
    @media screen and ( $min-width-smedium )
      transform: translateX(-5vw)
    @media screen and ( $min-width-medium )
      transform: none

  .sen__cont
    position: relative
    display: flex
    min-height: 400px
    margin-bottom: 1rem

    @media screen and ( $min-width-medium )
      margin-bottom: 0

  .sen__cont--1
    align-items: flex-end
    @media screen and ( $min-width-medium )
      flex: 1 0 40%
      padding: 0 0 6rem
    
    .sen__txt
      margin-right: 1rem


  .sen__cont--2,
  .sen__cont--3
    .sen__txt
      @media screen and ( $min-width-medium )
        position: absolute

  .sen__cont--2
    align-items: flex-end

    .sen__txt
      order: 2
      margin-left: 1rem
    .sen__img
      order: 1

    @media screen and ( $min-width-medium )
      flex: 1 0 calc(30% - 2rem)
      margin-left: 2rem
      .sen__txt
        transform: translateX(1rem)
        left: 100%
        bottom: 0
        width: 210px
        margin-left: 0
          
  .sen__cont--3
    .sen__txt
      margin-right: 1rem
    @media screen and ( $min-width-medium )
      flex: 1 0 26%
      margin-left: 2rem
      .sen__txt
        right: calc(100% + 1rem)


  .sen__txt
    flex: 4 0 40%
  .sen__img
    flex: 5 0 55%
    align-self: stretch
    @media screen and ( $min-width-medium )
      align-self: unset
      min-height: 496px
      max-height: 496px
      max-width: 260px


// Grid Styles
// ================================================================
@if $show-grid-styles
  @supports (display: grid)
    .sen__h
      position: initial
      grid-row: 1 / span 2
      grid-column: 1 / span 2
    .sen__txt.sen__txt
      position: initial
    .sen__cont
      display: grid
      grid-template-rows: 1fr 4fr
      grid-gap: 1rem
      min-height: initial
      margin-bottom: 0
      align-items: unset
      flex: unset
      order: unset
      padding: 0
    .sen__cont--1
      grid-column: 1
      @media screen and ( $min-width-medium )
        grid-column: 1 / span 6
    .sen__cont--2
      margin-left: 0
      grid-column: 1
      .sen__txt
        margin-left: 0
      @media screen and ( $min-width-medium )
        grid-column: 7 / span 6
        grid-gap: 0
    .sen__cont--3
      grid-column: 1
      grid-template-rows: 4fr 1fr
      @media screen and ( $min-width-medium )
        grid-column: 9 / span 6
      .sen__txt
        margin-right: 0
    
    .sen__img
      min-height: initial!important
      max-height: initial!important
      min-width: initial!important
      max-width: initial!important

    .sen__cont--1,
    .sen__cont--3
      grid-template-columns: 2fr 3fr
      .sen__img
        grid-column: 2
    .sen__cont--2
      grid-template-columns: 3fr 2fr
      .sen__img
        grid-column: 1 / 2

    .sen__cont--1
      grid-row: 2
      @media screen and ( $min-width-medium )
        grid-row: 3 / span 4
      .sen__txt
        grid-row: 2
    .sen__cont--2
      grid-row: 3
      @media screen and ( $min-width-medium )
        grid-row: 4 / span 4
      .sen__txt
        grid-row: 2
    .sen__cont--3
      grid-row: 4
      @media screen and ( $min-width-medium )
        grid-row: 1 / span 4
    
    .sen__img
      grid-row: 1 / 3

