.work

.work__heading
  text-align: center
  margin-bottom: 1.25rem
  @media screen and ( $min-width-medium )
    margin-bottom: 0

.work__cursive,
.work__poster
  @media screen and ( $min-width-smedium )
    line-height: 1

.work__cursive
  transform: translate(-34px,5px)

.work__poster
  font-weight: 600
  text-transform: uppercase
  color: var( --mustard-yellow )
.isSafari .work__poster
  font-weight: 400

.work__blurb
  font-family: var( --font-serif )
  font-style: italic
  letter-spacing: 1px
  line-height: 1.5
  @include fluid-spacing(font-size, 37.5rem, 80rem, 0.9rem, 1.2rem)

// Non-Grid Styles
// ================================================================
@if $show-not-grid-styles
  // @supports not (display: grid)
  .slideshow--mini
    margin: 0.5rem 0
  .work__slideshow-1
    min-height: 450px
  @media screen and ( $min-width-medium )
    .work
      position: relative
    .work__heading
      position: absolute
      top: 3rem
      @include fluid-spacing(left, 56rem, 100rem, 6rem, 26rem)
      z-index: 1
    .slideshow--mini
      flex: 1 0 40%
      display: flex
      min-width: 46%
      margin: 1rem
    .work__slideshow-1
      order: 2
      min-height: 600px
    .work__slideshow-2
      order: 1
      display: flex
      align-items: flex-end
      &>*
        max-height: 400px
        margin: auto 0 0!important
    .work__slideshow-3
      order: 4
      &>*
        max-height: 250px
        margin: 0 0 auto!important
    .work__slideshow-4
      order: 3
      &>*
        max-width: 90%
        margin: 0 0 0 auto!important

  .work__cursive
    @media screen and ( $min-width-medium )
      transform: translate(-49px,8px)


// Grid Styles
// ================================================================
@if $show-grid-styles
  @supports (display: grid)
    .slideshow--mini
      display: grid
      margin: 0
      min-height: initial
      min-width: initial
      order: unset
      margin: 0!important
      &>*
        max-height: initial
        max-width: initial
    .work
      grid-auto-rows: 20px
      @media screen and ( $min-width-medium )
        grid-auto-rows: 1fr
        height: 1000px
        grid-template-columns: repeat(30, 1fr)
        grid-row-gap: 1.5rem
        padding-bottom: var( --vertical-spacer )

    .work__heading
      position: initial
      z-index: 1
      display: grid
      grid-template-rows: repeat(2, 2fr) 3fr
      grid-row: 1 / span 2
      grid-column: 1
      @media screen and ( $min-width-medium )
        grid-template-rows: repeat(3, 2fr)
        grid-row: 2 / span 4
        grid-column: 1 / span 13
    
    .work__cursive
      grid-row: 1
      grid-column: 1
      display: grid
      align-content: end
      @media screen and ( $min-width-medium )
        transform: translate(-49px,12px)

    .work__poster
      grid-row: 2
      grid-column: 1
      display: grid
      align-content: center

    .work__slideshow-1
      grid-row: 3 / span 20
      grid-column: 1
      @media screen and ( $min-width-medium )
        grid-row: 2 / span 13
        grid-column: 17 / span 14

    .work__slideshow-2
      grid-row: 24 / span 14
      grid-column: 1
      @media screen and ( $min-width-medium )
        grid-row: 6 / span 8
        grid-column: 1 / span 15

    .work__slideshow-3
      grid-row: 39 / span 14
      grid-column: 1
      @media screen and ( $min-width-medium )
        grid-row: 15 / span 9
        grid-column: 15 / span 15

    .work__slideshow-4
      grid-row: 54 / span 14
      grid-column: 1
      @media screen and ( $min-width-medium )
        grid-row: 14 / span 9
        grid-column: 3 / span 11
