.h {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  z-index: 1;
}

.h__trg {
  @media screen and (min-width: $breakpoint-medium) {
    display: none;
  }
}

.h__menu {
  display: none;
  @media screen and (min-width: $breakpoint-medium) {
    display: block;
    font-family: var(--font-monospace);
  }
}

.h__menu .menu {
  @extend .h3;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  max-width: 500px;
}

.h__menu .a {
  color: var(--color-text-normal);
  text-decoration: none;
}


// .title-bar,
// .top-bar {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     padding-top: 0;
//     z-index: 10;
//     background-color: transparent;
// }


// // header on small
// // =============
// .title-bar {
//     padding: 0;
//     color: $black;
// }
// .title-bar-left {
//     margin: .7rem;
//     @include display-flex;
//     @include align-items(center);
// }
// .title-bar-right {
//     &>span {
//         font-size: 2rem;
//         line-height: 3.3rem;
//         display: inline-block;
//         padding: 0 0 0 .6rem;
//         margin-right: -16px;
//     }
//     a {
//         color: $color-primary;
//         text-transform: uppercase;
//         font-weight: 300;
//     }
// }
// .title-bar h1 {
//     display:none;
//     bottom: 0px;
//     margin-bottom: 0;
// }
// .about h1.about,
// .portfolio h1.portfolio,
// .contact h1.contact {
//     display: inline-block;
// }



// // header on medium up
// // =============
// .top-bar-left {
//     background-color: $color-primary;
//     span {
//         display: block;
//     }
//     a {
//         color: $white;
//         text-transform: uppercase;
//         font-weight: 600;
//     }
// }
// .top-bar-right {
//     font-size: 1.8rem;
//     float: left;
//     li {
//         padding-left: calc(6vh - 40px);
//         padding-right: calc(6vh - 40px);
//     }
//     li:first-child {
//         padding-left: calc(12vh - 30px);
//     }
//     a {
//         color: $black;
//     }
// }
// .top-bar-left,
// .top-bar-right {
//     padding-top: 30px;
// }
// .subheading {
//     h2 {
//         margin: .8rem 0 1rem;
//     }
//     &.menu a {
//         display: inline-block;
//         padding: 0.7rem .2rem .4rem;
//         margin: .3rem 0;
//         color: $dark-gray;
//         box-shadow: 0px 2px 0px 0px transparentize($color-primary,.2);
//     }
// }
// // Lettermark
// // ==========
// .lettermark {
//     display: inline-block;
//     mix-blend-mode: multiply;
//     &:last-child {
//         margin-left: -1.72rem;
//     }
// }
// // Comment Slash
// // =============
// .comment {
//     position: relative;
//     bottom: 3px;
//     margin-left: 2.5rem;
//     @media screen and (min-width: $breakpoint-large) {
//         margin-left: 3.5rem;
//     }
// }
// .comment::before {
//     content: "//";
//     position: absolute;
//     left: -2rem;
//     @media screen and (min-width: $breakpoint-large) {
//         left: -3.5rem;
//     }
// }