<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Duffy | daviduffy | Web Designer &amp; Developer</title>
    <meta name="description" content="A portfolio site created by David Duffy (@daviduffy), a web designer and developer from Seattle, Washington." />
    <meta itemprop="description" content="A portfolio site created by David Duffy (aka daviduffy), a web designer and developer from Seattle, Washington." />
    <link rel='shortcut icon' href='img/fav.ico' type='image/x-icon' />
    <meta itemprop="name" content="David Duffy" />
    <meta itemprop="url" content="http://daviduffy.me" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="http://daviduffy.me" />
    <meta name="twitter:title" content="David Duffy" />
    <meta name="twitter:description" content="A portfolio site created by David Duffy (aka daviduffy), a web designer and developer from Seattle, Washington." />
    <meta name="twitter:image" content="http://daviduffy.me/img/splash/david-duffy-designer-developer-product-owner-2-1024.jpg" />
    <meta name="twitter:site" content="@daviduffy_" />
    <meta name="twitter:creator" content="@daviduffy_" />
    <meta property="og:title" content="David Duffy" />
    <meta property="og:site_name" content="David Duffy Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://daviduffy.me" />
    <meta property="og:image" content="http://daviduffy.me/img/splash/david-duffy-designer-developer-product-owner-2-1024.jpg" />
    <meta property="og:description" content="A portfolio site created by David Duffy (aka daviduffy), a web designer and developer from Seattle, Washington." />
    <link rel="canonical" href="http://daviduffy.me">

    <style data-styles-critical>
      <%= compilation.assets[htmlWebpackPlugin.files.css.find(entry => entry.startsWith('css/critical'))].source() %>
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <%= htmlWebpackPlugin
      .tags
      .headTags
      .filter((tag) => {
        // is a link tag that isn't the critical css bundle
        return tag.tagName === 'link' && !tag.attributes.href.includes('critical');
      })
      .map((tag) => {
        const { attributes } = tag;
        attributes.media = 'print';
        attributes.onload = "this.media='all'";
        return { ...tag, attributes };
      })
      .join('')
    %>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Work+Sans:wght@400;500&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
  </head>

  <body>
    <script>
      if (window && window.location && window.location.hash) {
        var hash = window.location.hash.slice(1);
        document.body.classList.add('initialized--' + hash);
      }
    </script>
    <div class="oc">
      <div class="oc__menu">

        <%= htmlWebpackPlugin.options.Offcanvas %>

      </div>
      <div class="oc__x"></div>
    </div>

      <%= htmlWebpackPlugin.options.Header %>

    <main class="content">
      <div class="app">

        <%= htmlWebpackPlugin.options.Portfolio %>
        <%= htmlWebpackPlugin.options.Contact %>
        <%= htmlWebpackPlugin.options.Splash %>

      </div>

    </main>
    <%= htmlWebpackPlugin
      .tags
      .headTags
      .filter((tag) => {
        // is a script tag that isn't the critical bundle
        return tag.tagName === 'script' && !tag.attributes.src.includes('critical');
      })
      .join('')
    %>
  </body>
</html>