// Typography
// ----------

$global-font-size: 100%;
$global-width: 1200px;
$global-lineheight: 1.5;
$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;
$font-family-sans-serif:'Work Sans', Helvetica, Roboto, Arial, sans-serif;
$font-family-monospace: Inconsolata, 'Liberation Mono', Courier, monospace;
$body-font-family: $font-family-monospace;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;



$breakpoint-medium: unquote("640px");
$breakpoint-large: unquote("1024px");


// colors
$color-primary: rgba(250, 141, 40, 1);

// grid
$grid-row-width: $global-width;

:root {
  // Colors
  // ===========================================================================

  // Base
  --white                      : #fefefe;
  --black                      : #0a0a0a;

  // Theme
  --warm-orange                : #fa8d28;
  --color-action               : #518de5; // blue

  // Typography
  --color-text-normal          : var( --black );
  --color-text-inverted        : var( --white );
  --font-monospace             : Inconsolata, "Liberation Mono", Courier, monospace;
  --font-sans                  : 'Open Sans', tahoma, helvetica, sans-serif;

  // Easing
  // ===========================================================================
    --drop-in-easing-bezier      : .73, .14, 1, .99;
    --standard-easing-duration   : 0.33s;
    --standard-easing-bezier     : 0.56, 0.26, 0.37, 0.98;

  // Sizing
  // ===========================================================================
    --header-height             : 2.6rem;
    --header-height-inverted    : -2.6rem;
    --max-width                 : 1200px;

    @media screen and (min-width: $breakpoint-medium) {
      --header-height           : 6rem;
      --header-height-inverted  : -6rem;
    }
}


// Utilities
// ------------

@mixin abs-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin link-style {
    color: transparentize($black, 0.25);
    box-shadow: 0px 2px 0px 0px transparentize($color-action ,0.5);
}
